* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}


body {
  background: linear-gradient(to right, #1e5799 0%, #e02cbf 83%, #1e5799 100%);
  background-size: 10000px 100%;
  animation: bg 15s linear infinite;
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
@keyframes bg{
  0%{
    background-position-x: 0;
  }

  100%{
    background-position-x: 10000px;
  }
}

.not_found {
  text-align: center;
  margin-top: 100px;
}

.columns {
  margin-top: 30px;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
  min-height: 650px;
  white-space: nowrap;
}
.column__item {
  min-width: 220px;
  cursor: grab;
  margin-left: 50px;
  padding: 10px;
  min-height: 500px;
  border: 2px solid #9a1aff;
  background-color: lightgray;
  display: inline-block;
  vertical-align: top;
  .column__title {
    display: flex;
    align-items: center;
    justify-content: center;
    .column_title_edit_button {
      float: right;
      margin-left: 10px;
      padding: 5px;
    }
    .column_title_create_card_button {
      float: right;
      margin-left: 5px;
      padding: 5px;
    }
    .column_title_delete_column_button {
      float: right;
      margin-left: 5px;
      padding: 5px;
    }
  }
}

.card {
  font-size: 20px;
  color: white;
  padding: 5px;
  border-radius: 10px;
  min-height: 40px;
  margin-top: 10px;
  cursor: grab;
  background-color: #9a1aff;
}

.about__page {
  margin-top: 300px;
  text-align: center;
  a {
    color: black;
  }
}